<section> 
    <div class="main-content">
        <span>SOFTWARE DEVELOPER</span>
        <h1>Fabio</h1>
        <p>Welcome to my portfolio! Here you’ll find a selection of projects that demonstrate my skills in software development, particularly in Java and web technologies. From dynamic web apps to interactive user interfaces, this portfolio is a reflection of my dedication to crafting innovative solutions.</p>
        <bnt-primary text="Download Resume" [download]="true" filePath="assets/Resume.pdf" fileName="Resume.pdf"></bnt-primary>
    </div>
    <main-animation></main-animation>
</section>