section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

    span {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        color: var(--text-color);
    }

    h1 {
        background: linear-gradient(90deg, rgb(82, 34, 208) 35%, rgb(255, 97, 150) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        font-size: 40px;
        margin: 0;
      }
    }
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        color: var(--text-color);
    }
}

@media (min-width: 1080px) {
    section {
        flex-direction: row;
        justify-content: space-between;

        .main-content {
            align-items: flex-start;
            max-width: 50%;
        }

        h1 {
            font-size: 56px;
        }
    }
}
