<section> 
    <div class="main-content">
        <span>SOFTWARE DEVELOPER</span>
        <h1>Fabio</h1>
        <p>Welcome to my portfolio! Here you’ll find a selection of projects focused primarily on web applications, developed using technologies such as Java, JavaScript, Python, APIs, Node.js, React, and Angular. These projects reflect my hands-on experience in building dynamic, user-friendly solutions and my dedication to continuous learning in modern web development..</p>
        <bnt-primary text="Download Resume" [download]="true" filePath="assets/Resume.pdf" fileName="Resume.pdf"></bnt-primary>
    </div>
    <main-animation></main-animation>
</section>