<section> 
    <div class="main-content">
        <span>SOFTWARE DEVELOPER</span>
        <h1>Fabio</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum aut, pariatur laboriosam a aliquam in nisi dicta qui voluptate optio corrupti, iure, quia esse? Provident voluptatum recusandae corrupti consequatur facere!</p>
        <bnt-primary text="Download Resume" [download]="true" filePath="assets/Resume.pdf" fileName="Resume.pdf"></bnt-primary>
    </div>
    <main-animation></main-animation>
</section>