<section>
    <div class="about-me">
      <h2>About Me</h2>
      <p>
        I am a passionate software developer with experience in Java, web development, and a strong foundation in computing.
        Skilled in creating dynamic, user-friendly applications. Always eager to learn and tackle new challenges in the tech world.The long barrow was built on land previously inhabited in the Mesolithic period. It consisted of a sub-rectangular earthen tumulus, estimated to have been 15 metres (50 feet) in length, with a chamber built from sarsen megaliths on its eastern end. Both inhumed and cremated human remains were placed within this chamber during the Neolithic period, representing at least nine or ten individuals.
      </p>
    </div>
  </section>
  