<section>
    <div class="about-me">
      <h2>About Me</h2>
      <p>
        I completed my Higher Diploma in Science in Computing (Software Development) at the National College of Ireland from September 2022 to August 2024, graduating with a First-Class Honour. During the course, I focused on JavaScript, NodeJs, and SQL, developing a strong foundation in backend and frontend development. My professional background began in quality control and customer service for the Google Maps project, but my growing passion for coding inspired me to transition into web development. 
      </p>
        <p>&nbsp;</p>
      <p>
        Based in Ireland, I am actively seeking opportunities in technical support, customer support (including CRM platforms), or web development, where I can continue to learn, grow, and contribute to innovative projects. I am also interested in exploring new technologies and staying up-to-date with the latest trends in the industry.
      </p>
    </div>
  </section>
  