<section>
    <div class="about-me">
      <h2>About Me</h2>
      <p>
        I'm a recent graduate from the National College of Ireland with a First-Class Honour in Science in Computing (Software Development). Originally, my career started in quality control for Google Maps project, but my passion for coding and technology led me to pursue software development full-time. I’m now transitioning into the IT industry, where I can apply my technical skills in Java, web development, and building user-friendly applications.
      </p>
        <p>&nbsp;</p>
      <p>
        Based in Ireland, I’m actively seeking opportunities in tech support and software development, where I can continue to learn, grow, and contribute to innovative projects.
      </p>
    </div>
  </section>
  