.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #8455ff, #ff7a7a);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn-primary:hover {
    background: linear-gradient(90deg, #ff7a7a, #8455ff);
  }
  